html {
  scroll-behavior: smooth;
  background-color: #0d0d0d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

body::-webkit-scrollbar-thumb {
  background-color: #eca54d;
  outline: 1px solid slategrey;
  width: 10px;
}
.align-center {
  margin-left: auto;
  margin-right: auto;
}
